.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* full project */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
}
/* navbar*/
nav {
  background-color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-weight: bold;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #111;
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  flex: 1;
  max-width: 400px;
  display: flex;
  align-items: center;
  background: whitesmoke;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease; 

  &:hover{
    background: white;
  box-shadow: 2px 3px 3px rebeccapurple; 
  }
}

.search-bar input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
  background: transparent;
  color: #111;
  font-size: 14px;
}

.search-bar input::placeholder {
  color: #666;
}

.search-bar button {
  background: whitesmoke;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-bar button:hover {
  background: rebeccapurple; 
}


nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover{
    color: rebeccapurple;}
}

/* song list home */

.song-list {
  margin-left: 25px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px;
}
.home h2{
  text-align: center;
  font-style: italic;
  text-decoration: underline rebeccapurple;
}
.song-card {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 30px;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.song-card img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.song-card h3 {
  margin: 10px 0 5px;
}

.song-card p {
  margin: 0 0 10px;
  color: gray;
}

.song-card button {
  margin-top: auto; 
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background: rebeccapurple;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.song-card button:hover {
  background: white;
  color: #111;
}

.player {
  margin: 20px;
  padding: 20px;
  background: #fff;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

.controls button {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}
